.dashboardPage {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.dashboardPage h2 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
}

.weekRange {
  margin: -10px 0 30px;
  font-size: 14px;
  color: #707070;
}

.graphicsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

/* .graphicsSection > * {
  flex: 1;
  min-width: 0;
} */