.profileCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 20px 30px;

  border-radius: 10px;
  background: white;
}

.withTotalDistance {
  padding: 30px 50px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) -8.38%, #FFFFFF 100%);
}

.profilSection {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.photoWrapper {
  width: 100px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
}

.photoWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.photoWrapper:hover img {
  transform: scale(1.5);
}

.profileCardDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: start;
}

.profileCardDetail h1 {
  font-size: 22px;
  font-weight: 500;

  color: #111111;
}

.profileCardDetail p,
.distanceSection p {
  font-size: 14px;
  font-weight: 400;
  color: #707070;
}

.distanceSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.statisticsCard {
    display: flex;
    flex-direction: row;
    gap: 10px;

    padding: 20px;

    border-radius: 10px;
    background-color: #0B23F4;
}

.statisticsCard p {
  color: white;
  font-size: 22px;
  font-weight: 500;
}